@model IEnumerable<F1_Web_App.Models.StandingsViewModel>

<h1>Team Standings</h1>
<table class="table">
    <thead>
        <tr>
            <th>Position</th>
            <th>Team Name</th>
            <th>Total Points</th>
        </tr>
    </thead>
    <tbody>
        @{
            int position = 1;
            foreach (var team in Model)
            {
                <tr>
                    <td>@position</td>
                    <td>@team.TeamName</td>
                    <td>@team.TotalTeamPoints</td>
                </tr>
                position++;
            }
        }
    </tbody>
</table>
