@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the F1 Web App</h1>
    <p>Explore the world of Formula 1!</p>

    <div class="mt-4">
        <a asp-controller="Drivers" asp-action="ListDrivers" class="btn btn-primary btn-lg m-2">Drivers</a>
        <a asp-controller="Teams" asp-action="List" class="btn btn-secondary btn-lg m-2">Teams</a>
        <a asp-controller="Events" asp-action="List" class="btn btn-secondary btn-lg m-2">Events</a>

        <a asp-controller="Standings" asp-action="ListDriverStandings" class="btn btn-primary btn-lg m-2">Driver Standings</a>

        <a asp-controller="Standings" asp-action="ListTeamStandings" class="btn btn-secondary btn-lg m-2">Team Standings</a>
    </div>
</div>
